

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;200&display=swap');



body, html{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
ol, ul, li{
    list-style-type: none;
}
.inner{
    margin:0 auto;
    width:70%
}